// @import "variables";

@mixin text-overflow {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin clearfix() {
  overflow: hidden;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;

    height: 0;

    content: "\0020";
  }
}

@mixin multi-ellipsis($line) {
  display: -webkit-box;
  overflow: hidden;

/* autoprefixer: ignore next */
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;

  -webkit-line-clamp: $line;
}
